---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Brandon Thompson{% endif %}</h2>
          <p class="author_subtitle">{% if site.about-author %}{{site.about-author}}{% else %}I have seen for years the occasional car or truck on the road with the Amateur Radio Operator license plate and usually occompanied by a 'few' antennas to trigger some curiosity. However, I didn't really become interested in amateur radio until I heard about what others in the off-road and overlanding community are using for communications between vehicles, sometimes miles apart, and how with GMRS the signal quality is so much better. This began my research into upgrading my mobile comms from a citizens band or CB radio to a rather humble mobile amateur radio station wd4rnr-9. The main deciding factor was APRS and the ability to send beasons automatically providing another method of trackability when in very remote areas with zero cell phone service. Ultimately, also leading to the decision to operate mobile with the Yaesu FTM-400xdr.{% endif %}</p>
          <p class="author_subtitle">Join me down this rabbit hole!</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>
