<script type="text/javascript">
he_track = wd4rnr-9;
he_zoom = 10; // zoom out a bit
he_maptype = 'h'; // hybrid map
// select what to show
he_hide_tcp = 1; // do not show Internet stations
he_show_aprs = 'w'; // show APRS stations with waypoints
he_show_aprs_w = ''; // do not show APRS weather stations
he_show_aprs_i = 'p'; // only show the current position of items without track
he_show_ais = ''; // do not show AIS ships
</script>
<script src="{{site.baseurl}}/assets/js/aprsfi_map.js"></script>
<!-- End Javascript -->
